<div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <ul class="list-inline">

              <li><% link_to "#{}", do %>
                <%= class="fa fa-youtube" %>
              <% end %>
              </li>
              <li><% link_to "#{}", do %>
                <%= class="fa fa-instagram" %>
              <% end %>
              </li>
              <li><% link_to "#{}", do %>
                <%= class="fa fa-facebook" %>
              <% end %>
              </li>
               <li><% link_to "#{}", do %>
                <%= class="fa fa-facebook" %>
              <% end %>
              </li>
            </ul>
          </div>
          <div class="col-xs-8 text-right">
            <p>This is a Airbnb Home challenge @ LeWagon</p>
          </div>
        </div>
      </div>
</div>
